.nav-btn{
    border: 2px solid purple;
    color: white;
    background: purple;
}
.text-purple{
    color: purple;
}
.nav-btn2{
    border: none;
    background: white;
    color: purple;
}
.text-nav{
    text-transform: uppercase;
    margin-left: 47px;
}